# Python
__pycache__/

# Virtual Environment
.venv

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# handled by DagsHub / DVC / MLflow 
/modelling
/mlflow

# Specifically ignore all video directories
**/videos/

# Data
/data/interim/*/**
!/data/interim/*/.gitkeep
/data/preprocessed/*/**
/data/Demo App (Development)
/webapp/backend/data/output/*
/webapp/backend/data/interim/*/**
/webapp/backend/data/interim/RawMotionMeasurements/*/**
/webapp/backend/data/preprocessed/*/**
!/webapp/backend/data/interim/*/.gitkeep
**/data/interim/
**/data/output/
# MacOS system files
.DS_Store

/docs