# Python
__pycache__/

# Virtual Environment
.venv

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# handled by DagsHub / DVC / MLflow 
/models
/mlflow

# Specifically ignore all video directories
**/videos/

/data/interim/*/**
!/data/interim/*/.gitkeep
/data/preprocessed/*/**

# MacOS system files
.DS_Store